altair==5.5.0
blinker==1.9.0
cachetools==6.1.0
click==8.2.1
gitdb==4.0.12
GitPython==3.1.45
joblib==1.5.1
narwhals==2.1.2
numpy==2.3.2
pandas==2.3.2
patsy==1.0.1
pillow==11.3.0
plotly==6.3.0
protobuf==6.32.0
pyarrow==21.0.0
pydeck==0.9.1
pytz==2025.2
scikit-learn==1.7.1
scipy==1.16.1
smmap==5.0.2
statsmodels==0.14.5
streamlit==1.48.1
tenacity==9.1.2
threadpoolctl==3.6.0
toml==0.10.2
tzdata==2025.2
watchdog==6.0.0
fpdf2